# Copy to .env for local dev (expo start --dev-client)
# EXPO_PUBLIC_GQL=https://medoraa-backend-w82d.onrender.com/graphql
EXPO_PUBLIC_GQL=https://medoraabackend.naijacloud.app/graphql
EXPO_PUBLIC_WGQL=wss://medoraabackend.naijacloud.app/graphql
# EXPO_PUBLIC_WGQL=wss://medoraa-backend-w82d.onrender.com/graphql
